<template>
  <div class="col-md-12">
    <div class="card weather-box">
      <h4 class="weather-title box-title bg-success text-white">
        Create Invoice
      </h4>
      <div class="card-body">
        <div class="row">

          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Description</label>
              <input value.bind="description" type="text" placeholder="Description of the invoice" class="form-control" />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Amount</label>
              <input value.bind="tokens" type="text" placeholder="Number of tokens to send" class="form-control" />
            </div>
          </div>
        </div>

          <button type="submit" class="btn btn-lg btn-info btn-block" click.trigger="createInvoice()">
            <span>Create Invoice</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
